<div class="four wide column">
        <p>Here all personal details will go</p>
        <div class="ui one column grid">
            <div class="column">
                <div class="ui raised segment">
                    <a class="ui blue ribbon label">Personal</a>
                    <table class="ui selectable inverted compact table">
                        <tbody>
                            <tr>
                                <td class="two wide column"><b>Languages Known</b></td>
                                <td>English, Hindi, Kannada</td>
                            </tr>
                            <tr>
                                <td><b>Birthday</b></td>
                                <td>7the September, 1991</td>
                            </tr>
                            <tr>
                                <td><b>Nationality</b></td>
                                <td>Indian</td>
                            </tr>
                            <tr>
                                <td><b>Total Experience</b></td>
                                <td>57 Months</td>
                            </tr>
                            <!-- 
                        <tr>
                        <td>Permanent Address</td>
                        <td>S/o M Manjappa, House number 4/3, C-Type, KPC Colony Kadra, Uttara Kannada, 581 - 396</td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

        <div class="ui one column grid">
            <div class="column">
                <div class="ui raised segment">
                    <a class="ui blue ribbon label">Contact</a>
                    <table class="ui selectable inverted compact table" id="contactTable">
                        <tbody>
                            <tr>
                                <td class="two wide column"><b>Mobile</b></td>
                                <td>+91 9632-997-661</td>
                            </tr>
                            <tr>
                                <td><b>Email</b></td>
                                <td>beingvishu@gmail.com</td>
                            </tr>
                            <tr>
                                <td><b>Nationality</b></td>
                                <td>Indian</td>
                            </tr>
                            <tr>
                                <td><b>Total Experience</b></td>
                                <td>57 Months</td>
                            </tr>
                            <!-- 
                            <tr>
                            <td>Permanent Address</td>
                            <td>S/o M Manjappa, House number 4/3, C-Type, KPC Colony Kadra, Uttara Kannada, 581 - 396</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

        <div class="ui one column grid">
            <div class="column">
                <div class="ui raised segment">
                    <a class="ui blue ribbon label">Links</a> 
                    <p></p>
                    <table class="ui selectable inverted compact table" id="contactTable">
                            <tbody>
                                <tr>
                                    <td class="two wide column"><b><i class="facebook icon"></i></b></td>
                                    <td><a href="https://www.facebook.com/m.vishukumar">Facebook</a></td>
                                </tr>
                                <tr>
                                    <td><b><i class="linkedin icon"></i></b></td>
                                    <td><a href="https://www.linkedin.com/in/vishukumar-m-a5825a142/">LinkedIn</a></td>
                                </tr>
                                <tr>
                                    <td><b><i class="google plus icon"></b></td>
                                    <td><a href="https://plus.google.com/u/0/111921574885533157015">Google+</a></td>
                                </tr>
                                <tr>
                                    <td><b><i class="instagram icon"></i></b></td>
                                    <td><a href="https://www.instagram.com/vishukumar_/?hl=en">Instagram</a></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>